body,
html {
    position: relative;
    height: 100%;
}

.sidebar {
    background-color: #7F48F7;
    color: white;
    overflow: hidden !important;
    position: fixed;
    height: 100vh;
    z-index: 4000;
}

.sidebar>ul>li {
    list-style-type: none;
    font-weight: 400;

}


.wrapper.content-body {
    position: relative;
    width: 100%;
    padding-left: 175px;
    margin-bottom: 72px !important;
    overflow: hidden !important;
}

.logo {
    padding: 30px;
    font-weight: 600;
}

.sidebar>ul>li:hover {
    background-color: white;
    color: #7F48F7;
}


.uploaded-image {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.items {
    margin-top: 5px !important;
}

.links {
    text-decoration: none;
    color: white;

}

.links:hover li {
    background-color: white !important;
    color: #7F48F7;

}

.active li {
    background-color: white !important;
    color: #7F48F7 !important;
}

.sidebar>ul {
    padding-left: 0px !important;
}

.hamburger {
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    cursor: pointer;

    padding: 20px;
    color: black;
}


.cross-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .wrapper.content-body {
        padding-left: 10px !important;
    }


    .form-control, .input-field {
        width: unset !important;
    }

}

@media screen and (max-width: 540px) {
    .wrapper.content-body {
        padding-left: 10px !important;
    }


    .form-control, .input-field {
        width: unset !important;
    }

}

.card-bg {
    background-position: right 10px bottom 5px;
    background-repeat: no-repeat;
    background-size: 35%;
    box-sizing: border-box;
}

.bg-saved-card {
    background-image: url(./assets/heart-icn.png);
}

.bg-open-card {
    background-image: url(./assets/hand-icn.png);
}

.bg-exposure {
    background-image: url(./assets/shop-icn.png);
}


.google-visualization-tooltip {
    min-width: 100px !important;
    padding-bottom: .5rem !important;
    white-space: nowrap !important;
    border: 2px solid #EFF4F2 !important;
    border-radius: 5px !important;
}
